#CI项目
name: qualcommax

#CI计划
on:
  #自动编译：当Auto-Clean运行完成后

  #手动编译
  workflow_dispatch:
    inputs:
      CONFIG:
        type: choice
        description: '选择要编译的.config平台'
        required: true
        options:
          - IPQ60XX-WIFI-YES
          - IPQ60XX-WIFI-NO
          - IPQ807X-WIFI-YES
          - IPQ807X-WIFI-NO
        
      USB:
        description: '添加USB驱动。'
        default: 'true'
        required: false
        type: boolean

      TEST:
        description: '仅输出配置文件，不编译固件。'
        default: 'false'
        required: false
        type: boolean

#CI权限
permissions: write-all

#CI任务
jobs:
  config:
    name: ${{inputs.CONFIG}}
    
    #调用公用编译核心WRT-CORE.yml
    uses: ./.github/workflows/WRT-CORE.yml
    with:
      #编译配置
      WRT_CONFIG: ${{inputs.CONFIG}}
      #默认主题
      WRT_THEME: bootstrap
      #默认主机名
      WRT_NAME: OpenWrt
      #默认WIFI名称
      WRT_SSID: OpenWrt
      #默认WIFI密码
      WRT_WIFI_PW: password
      #默认地址
      WRT_IP: 192.168.5.1
      #登录密码，仅作提示，修改无用
      WRT_LOGIN_PW: 无
      #源码链接
      WRT_REPO: https://github.com/VIKINGYFY/immortalwrt.git
      #源码分支
      WRT_BRANCH: main
      #源码名称
      WRT_SOURCE: VIKINGYFY/immortalwrt
      #仅输出配置文件
      WRT_TEST: ${{inputs.TEST}}
      #加入USB相关驱动
      WRT_USB: ${{inputs.USB}}
      #上传到Artifact
      UPLOAD_FIRMWARE: true
